p, li, table, th, td{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}

body {
    font-size: 12pt;
    background-image: url('paper.gif');
}
p {
    margin-top: 12px;
}
h1 {
    font-size: 30pt;
    text-decoration: underline;
}
h2 {
    margin: 12px;
    font-style: italic;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

th {
    color: white;
}

table, th, td {
    border: 3px solid black;
    padding: 10px;
}
.tableschematics {
    table-layout: fixed;
    width: 600px;
    border-collapse: collapse;
}

.imgstyle {
    width: 650px;
    height: auto;
    float: right;
    align-items: center;
}

.webprogramming {
    background-color: red;
    width: 130px;
}
.discretemath {
    background-color: brown;
    width: 130px;
}
.english {
    background-color: green;
    width: 130px;
}
.writing {
    background-color: orange;
    width: 130px;
}
.workout {
    background-color: teal;
    width: 130px;
}

